<footer class="app-footer" id="app-footer" role="contentinfo">
	<div class="app-divider">
  	</div>
    <div class="app-footer-content">
        <div class="app-copyright">
            <p>&copy; Jochen Ahlt  {{ site.time | date: '%Y' }} &middot;
                <a href="/">Startseite</a> &middot;
                <a href="/impressum">Impressum</a> &middot;
                <a href="/kontakt">Kontakt</a> &middot;
                Site by <a href="http:kreativkombinat.de">KK</a>
            </p>
    </div>
</footer>
