//
// Main site theme
// --------------------------------------

.app-wrapper {
  @include make-container();
  @include make-container-max-widths();
  background: #f7f5ec;
  margin-top: 0;
  margin-left: auto;
  margin-bottom: 0;
  margin-right: auto;
  padding: 0;
  @include media-breakpoint-up(sm) {
    border-radius: .3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
  }
}


//== Main content area
//
//## Provides optional fullscreen layouts
.app-main {
  @include make-container();
  &-fullscreen {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.app-content {
  @extend .container;
  &-centerstage {
    @extend .container-fluid;
    margin: 0 auto;
    max-width: 480px;
  }
}

//** Add full height to layout components
.app-section {
    @include make-row()
}

.app-section-aside {
    @include make-col(12);
    @include media-breakpoint-up(md) {
        @include make-col(3);
        padding: 0 1rem 1rem 1rem;
    }
}

.app-section-main {
    @include make-col(12);
    @include media-breakpoint-up(md) {
        @include make-col(9);
        padding: 0 1rem 0 0;
    }
}
