<div id="app-intro-de">
    <div class="app-page-header">
        <div class="app-page-title">
            <h1 class="app-page-headline">Unsere zivilrechtlich ausgerichtete Kanzlei versteht sich als modernes Dienstleistungsunternehmen.</h1>
        </div>
    </div>
    <div class="app-intro">
        <div class="app-intro-left">
            <div class="app-intro-left-content">
                <img class="image-inline" src="{{ page.base_url }}assets/img/intro.jpg" />
            </div>
        </div>
        <div class="app-intro-right">
            <div class="app-intro-right-content">
                <p>Es ist unser erklärtes Ziel, persönliche Beratung auf höchstem fachlichen Niveau anzubieten.</p>

                <p>Wir kombinieren Fachwissen mit wirtschaftlichem Verständnis und streben sinnvolle, praktikable und individuelle Lösungen an. Die Vermeidung eines Prozesses durch Verhandlungen steht zunächst im Vordergrund.</p>

                <p>Die Anliegen unserer Mandanten werden individuell und engagiert verfolgt. Hierzu garantieren wir eine persönliche Betreuung, um eine nahtlose Kommunikation gewährleisten.</p>
	        </div>
        </div>
    </div>
</div>